<button class="create-post-fab" type="button" id="createPostFab" aria-label="Create Post" data-i18n-attr="aria-label:buttons.createPost">
  <i class="bi bi-plus-lg"></i>
  <span data-i18n="buttons.createPost">Create Post</span>
</button>
