<section class="company-quick-actions" id="post-job">
  <div class="company-action-grid-mock">
    <button type="button" class="company-action-tile post-job" id="openPostJobModal">
      <i class="bi bi-plus-lg"></i>
      <span>Post a Job</span>
    </button>
    <a href="#search-workers" class="company-action-tile find-workers" data-company-goto="search-workers">
      <i class="bi bi-search"></i>
      <span>Find Workers</span>
    </a>
    <button type="button" class="company-action-tile post-update" id="openCompanyPostModal">
      <i class="bi bi-megaphone"></i>
      <span>Post an Update</span>
    </button>
    <a href="#settings" class="company-action-tile view-profile" data-company-goto="settings">
      <i class="bi bi-building"></i>
      <span>View Company Profile</span>
    </a>
  </div>
</section>
